.form-input {
    grid-column: 1 / 5;
    grid-row: 2 / -1;
    padding: 35px;
    border-radius: 50px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.canvas-coin{
    grid-column: 1 / 5;
    grid-row: 2 / -1;
    padding: 35px;
    border-radius: 50px;
}

.form-output {
    grid-column: 6 / 9;
    grid-row: 2 / -1;
    padding: 25px;
    border-radius: 50px;
    margin: 10px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.data-form{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
}

.coin-select{
    height: 40px;
    width: 140px;
}
.send{
    width: 470px;
}

/* .send-button{
    margin: 10px;
} */

#input-select{
    justify-self: flex-start;
}

#input-select-2{
    justify-self: flex-start;
}

#input-amount{
    justify-self: flex-end;
}
