.form-input {
    grid-column: 1 / 5;
    grid-row: 2 / -1;
    padding: 35px;
    border-radius: 50px;
    margin: 10px;
}

.form-output {
    grid-column: 6 / 9;
    grid-row: 2 / 3;
    padding: 35px;
    border-radius: 50px;
    margin: 10px;
}
