.Glassmorphism{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Glassmorphism-2{
    background: rgba( 255, 255, 255, 0.28 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contenedor{
    margin: 20px;
    grid-column-start: 1 ;
    grid-column-end: 13 ;
    grid-row-start:1 ;
    grid-row-end:13 ;
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.contenedor-header.Glassmorphism{
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    padding: 35px;
    border-radius: 50px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-convertidor.Glassmorphism {
    grid-column: 1 / 10;
    grid-row: 1 / -1;
    padding: 35px;
    border-radius: 50px;
    margin: 10px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.contenedor-historial.Glassmorphism {
    grid-column: 10 / 13;
    grid-row:  1/ -1;
    padding: 35px;
    border-radius: 50px;
    margin: 10px;
}

.input-coin-container {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.output-coin-container {
    grid-column: 6 / 9;
    grid-row: 3 / -1;
}

